<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
  <link rel="manifest" href="manifest.json">
</head>
<body>
  find by route
  

  <input id="from" type="text" placeholder="from" name="from">
  <input id="to" type="text" placeholder="to" name="to">
  <button id="button" type="submit">Submit</button>
  <br>
<button id="mySearch" type="submit">Show my searches</button>

<div id="searchList"></div>

<div id="flightNumber"></div>

 <script src="/static/js/app.js" async></script>
</body>
</html>